.login-page {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  &__title {
    font-size: 50px;
    font-weight: 550;
    color: #472c8a;
  }

  &__subtitle {
    font-size: 35px;
    font-weight: 600;
  }

  &__form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
  }

  &__submit {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
